<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean
        id="singletonObj"
        class="Lessons.IoC_and_DI.BeanScope.SingletoneObj"
        init-method="init"
        destroy-method="destroy"
    >
        <constructor-arg name="objName" value="singleton object"/>
    </bean>

    <bean
        id="prototypeObj"
        class="Lessons.IoC_and_DI.BeanScope.PrototypeObj"
        scope="prototype"
        init-method="init"
        destroy-method="destroy"
    >
        <constructor-arg name="objName" value="prototype object"/>
    </bean>

</beans>